<script>
    $(function () {
        $("#left").accordion();
    });

    function LoadGoods(ele) {
        $(ele).closest("#left").find("a").removeClass("active"); $(ele).addClass("active");
        var isAjax = $(ele).data('ajax');
        if (isAjax) {
            $.post($(ele).attr('href'), function (data) { $("#right").html(data) });
            return false;
        }
        return true;
    }
</script>
@using car.DTO;
@using System.Web.Mvc.Html;
<div class="container">

    <div class="row">
        <div id="left" class="col-xs-4 col-md-4">
            @{
                var firstList = Model.FirstList;
                var secondList = Model.SecondList as List<SecondGoods>;
                foreach (var item in firstList)
                {
                    var id = item.GOODSCATEGORYID;
                    <h3>@item.GOODSCATEGORYNAME</h3>
                    <div class="list-group">
                        @foreach (var second in secondList.Where(x => x.FIRSTID == id))
                        {
                            @Html.ActionLink(second.GOODSTYPENAME, "LoadGoods", new { typeId = second.GOODSTYPEID, viewType = Html.ViewContext.RouteData.Values["viewType"] },
                                                      new { onclick = "return LoadGoods(this);", @class = "list-group-item", data_ajax = true })
                            @*<a href="#" data-ajax="true" class="list-group-item" onclick='LoadGoods("@second.GOODSTYPEID",this)'>
                                    <h4 class="list-group-item-heading">@second.GOODSTYPENAME</h4>
                                </a>*@
                        }
                    </div>
                }
            }
        </div>
        <div id="right" class="col-xs-14 col-md-8">
            @Html.Partial("Partial\\_RightViewGrid")
        </div>

    </div>
