<script>
    $(function () {
        $("#left").accordion();
    });

    function LoadGoods(ele) {
        $(ele).closest("#left").find("a").removeClass("active"); $(ele).addClass("active");
    }
</script>
@using car.DTO;
@using System.Web.Mvc.Html;
<div class="container">

    <div class="row">
        <div id="left" class="col-xs-4 col-md-4">
            @{
                var firstList = Model.FirstList;
                var secondList = Model.SecondList as List<SecondGoods>;
                foreach (var item in firstList)
                {
                    var id = item.GOODSCATEGORYID;
                    <h3>@item.GOODSCATEGORYNAME</h3>
                    <div class="list-group">
                        @foreach (var second in secondList.Where(x => x.FIRSTID == id))
                        {
                            @Html.ActionLink(second.GOODSTYPENAME, "LoadGoods", new { typeId = second.GOODSTYPEID },
                                                      new { onclick = "LoadGoods(this);return false;", @class = "list-group-item", data_ajax = true })
                            @*<a href="#" data-ajax="true" class="list-group-item" onclick='LoadGoods("@second.GOODSTYPEID",this)'>
                                    <h4 class="list-group-item-heading">@second.GOODSTYPENAME</h4>
                                </a>*@
                        }
                    </div>
                }
            }
        </div>
        @Html.Partial("Partial\\_RightViewGrid", null)
    </div>

</div>